<div class="tool-grid-3">
    {% include "container_selection_tool/partials/_container_selection_product_section.html" %}
    {% include "container_selection_tool/partials/_container_selection_container_section.html" %}
    {% include "container_selection_tool/partials/_container_selection_result_section.html" %}
</div>

{% include "container_selection_tool/partials/_container_selection_product_catalogue_section.html" %}
{% include "container_selection_tool/partials/_container_selection_packaging_catalogue_section.html" %}
{% include "container_selection_tool/partials/_container_selection_top5_section.html" %}
