<div class="tool-grid-3">
    {% include "bag_selection/partials/_bag_selection_product_section.html" %}
    {% include "bag_selection/partials/_bag_selection_bag_section.html" %}
    {% include "bag_selection/partials/_bag_selection_result_section.html" %}
</div>

{% include "bag_selection/partials/_bag_selection_product_catalogue_section.html" %}
{% include "bag_selection/partials/_bag_selection_packaging_catalogue_section.html" %}
{% include "bag_selection/partials/_bag_selection_top5_section.html" %}
